.groups-page {
  font-family: 'Roboto';
}

.groups-page-header {
  display: flex;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.groups-page-header>h2 {
  margin: 0;
}

.groups-page-add {
  position: fixed;
  right: 0.5rem;
  top: 3.5rem;
}

.groups-page-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.groups-page-section>article {
  display: flex;
  justify-content: center;
  width: 100%;
}

.groups-page-section>article:last-child {
  padding-bottom: 4em;
}