.group-details-page {
    height: 100%;
}

.group-details-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}

.group-details-page-main>main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
    height: 100%;
}

.group-details-page-main :where(.teachers, .students) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.group-details-page-main :where(.teacher-container, .student-container) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.group-details-page-main .student-container {
    padding-bottom: 4rem;
}

.group-details-page-main :where(.student-card:first-child, .teacher-card:first-child) {
    margin-top: 1rem;
}

.group-details-page-main :where(.student-card:last-child, .teacher-card:last-child) {
    margin-bottom: 1rem;
}