.teacher-page>h2 {
  text-align: center;
}

.teacher-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 4rem;
}

.teacher-page-main .group-component-selection {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .teacher-page>h2 {
    display: none;
  }

  .teacher-page-main {
    margin-top: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding-bottom: 4rem;
  }

  .teacher-page-main .group-component-selection {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {

  .teacher-page-main .group-component-selection {
    width: 30%;
  }
}