.teacher-activities-page {
  height: 100%;
}

.teacher-activities-page-main {
  display: flex;
  justify-content: center;
  height: 90%;
}

.teacher-activities-page-main .activity-section {
  position: relative;
  width: 90%;
  margin-top: 1.25rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.teacher-activities-page-main .activity-section .return-arrow {
  top: 0.78rem;
}

.teacher-activities-page-main .workUnitName {
  display: flex;
  width: 100%;
  height: 3.5rem;
  flex-direction: column;
  justify-content: center;
  color: #F2F2F2;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  text-decoration-line: underline;
}

.teacher-activities-page-main .add-icon-component {
  display: flex;
  position: absolute;
  right: 0.44rem;
  top: 0.35rem;
  height: fit-content;
  border-radius: 50px;
}

.teacher-activities-page-main .activity-section>main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.teacher-activities-page-main header {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
}

.teacher-activities-page-main :where(.evaluable-activities, .non-evaluable-activities) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.teacher-activities-page-main .evaluable-activities>main {
  display: flex;
  flex-direction: column;
  align-items: center;
}