.teacher-activities-page {
  height: 100%;
}

.teacher-activities-page-main {
  display: flex;
  justify-content: center;
  height: 90%;
}

.teacher-activities-page-main .activity-section {
  position: relative;
  height: 100%;
  width: 90%;
  margin-top: 1.25rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.teacher-activities-page-main .activity-section .return-arrow {
  top: 0.78rem;
}

.teacher-activities-page-main .workUnitName {
  display: flex;
  width: 100%;
  height: 3.5rem;
  flex-direction: column;
  justify-content: center;
  color: #F2F2F2;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  text-decoration-line: underline;
}