.main-page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFF;
  border-radius: 3.125rem;
  height: 90%;
  width: 90%;
  gap: 8%;
}

.login-page>header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-page>header>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 90%;
  height: 90%;
}

.login-page>header>div>img {
  width: 50%;
}

.login-page>header>h1 {
  color: #3E94E7;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 90%;
  text-align: center;
  margin: 0;
}

.login-page>main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page>main>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.5rem;
  height: 8.75rem;
  gap: 1.88em;
}

.login-page>main>form>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.3em;
}

.input-label {
  width: 100%;
}

.login-page :where(#user, #password) {
  display: flex;
  border-radius: 0.3125rem;
  align-items: center;
  width: 90%;
  height: 2.625rem;
  overflow: hidden;
  padding: 0.3125rem 0.75rem;
  border-radius: 0.125rem;
  border: 1px solid var(--neutral-5, #D9D9D9);
  background: var(--neutral-1, #FFF);
  flex-shrink: 0;
}

.button {
  border: 1px solid var(--primary-6, #1890FF);
  background: #3E94E7;
  color: #E4E4E4;
  display: flex;
  width: 9em;
  height: 2.5em;
  border-radius: 0.3125rem;
  justify-content: center;
  align-items: center;
}

.login-page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0rem 3.125rem 3.125rem;
  width: 100%;
  height: 100%;
  background: #3E94E7;
}