.table {
  display: none;
}

@media screen and (min-width:768px) {
  .table {
    display: block;
  }

  .custom-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
  }

  .custom-options>*:hover {
    color: brown;
  }

  .ant-table-title {
    text-align: center;
    background-color: #c5c5c5;
    border: 1px solid #dddddd;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px !important;
  }

  .ant-table-content {
    background-color: #d4d4d4;
    border-radius: 8px;
  }

  .table th {
    padding: 5px !important;
    background-color: #a5a5a5 !important;
  }

  .table th:first-child {
    width: 100%;
  }

  .table th:last-child {
    width: 20%;
  }

  .table th:not(.table th:first-child, .table th:last-child){
    padding-inline: 15px !important;
  }

  .table tr>td {
    padding-block: 5px !important;
  }
}