.table {
  display: none;
}

@media screen and (min-width:768px) {
  .table {
    display: block;
  }

  .custom-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
  }

  .custom-options>*:hover {
    color: brown;
  }

  .ant-table-content {
    background-color: #d4d4d4;
    border-radius: 8px;
  }

  .table th {
    background-color: #a5a5a5 !important;
  }
}