.admin-teachers-page-header {
  text-align: center;
}

.admin-teachers-page ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 1.25rem;
}

.admin-teachers-page li {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.admin-teachers-page .group-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.admin-teachers-page .group-section>h3 {
  text-align: center;
}


.admin-teachers-page .group-section:last-child {
  padding-bottom: 3.5rem;
}